#User{
	height: 300px;
    width: 400px;
    border: 2px solid black;
    position: relative;

}
#User h2{
	position: relative;
    left: 160px;
}
#name{
	position: relative;
    left: 10px;

}
#Personnal{
	height: 506px;
    width: 340px;
    border: 2px solid black;
    position: absolute;
    left: 1132px;
    top: 80px;
}
#Personnal h2{
	position: relative;
	left: 83px;
}
#ChooseMaps{
	position: relative;
    left: 20px;
}
#Personnal input{
    position: relative;
    left: 23px;
}
#AddMap{
    position: relative;
    left: 26px;
}
#log{
    position: relative;
    left: 19px;
    top: 32px;
    height: 20px;
}
#PersonnalMaps{
	position: relative;
	left: 87px;
	height: 200px;
	width: 1300px;
	border : 1px;
	top: 25px;
	
}
#DeleteMap{
	position: relative;
    top: 30px;
    right: 24px;
}
#Shared{
	width: 317px;
	border: 2px solid black;
	position: absolute;
    top: 80px;
    left: 1483px;
}
#Shared h2{
	position: relative;
	left: 90px;
}
#MapSharedToHim{
	position: relative;
	left: 80px;
	height: 308px;
}

#Shared input{
	position: relative;
	left: 16px;
}
#logShared{
	height: 20px;
}

#ChooseSharedMaps{
	position: relative;
	left: 12px;

}
#AddSharedMap{
	position: relative;
	left: 16px;
}
#DeleteSharedMap{
	position: relative;
    top: 10px;
    left: 10px;
}

#Map{
	height: 400px;
    width: 700px;
    position: absolute;
    top: 80px;
    left: 420px;
    border: 2px solid black;
}
#MapName{
    position: relative;
    left: 10px;
}

#Description{
	position: relative;
    left: 10px;
    bottom: -10px;
}

#Status{
	position: relative;
    top: -80px;
    left: 550px;
}
#Location{
    position: relative;
    left: 10px;
    bottom: -50px;
}

#SharedWith{
    position: relative;
    bottom: -120px;
    left: 10px;
}

#SetMapName{
	position: relative;
    top: -90px;
    left: 10px;	
}
#Map input{
	position: relative;
    left: 10px;
    top: -90px;
}

#Event{
	height: 800px;
    width: 340px;
    border: 2px solid black;
    position: absolute;
    top: 500px;
   
}
#mapleflet { 
    height: 300px;
    width: 500px; 
    position: absolute;
    top : 500px;
    left: 100px;
}

#mapleflet1 { 
    height: 300px;
    width: 500px; 
    position: absolute;
    top : 1000px;
    left: 100px;
}